#bandeau {
    position: fixed;
    top: 0;
    width: 100%;
}

#bandeau #menu {
    display: block;
    background-color: lightblue;
    margin: unset;
    padding: unset;
    list-style-type: none;
    overflow: hidden;
}

#bandeau #menu li {
    float: left;
}

#bandeau #menu li:last-child {
    float: right;
}

#bandeau #menu li a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: lightblue;
    padding: 10px 10px;
    font-size: 15px;
    transition: padding 0.5s, background-color 0.5s;
}

#bandeau #menu li a:hover {
    background-color: aqua;
    padding: 10px 20px;
}