#bandeau {
    position: fixed;
    top: 0;
    width: 100%;
}

#bandeau #menu * {
    font-weight: 600;
    transition: color 0.3s;
}

#bandeau #menu #nav {
    float: right;
}

#bandeau #menu {
    display: block;
    background-color: #58c1e4;
    margin: unset;
    padding: unset;
    list-style-type: none;
    overflow: hidden;
    padding: 0px 10px;
}

#bandeau #menu .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

#bandeau #menu .separator {
    width: 1px;
    height: 36px;
    background-color: white;
    float: left;
    margin-top: 15px;
}


/* The subnavigation menu */

#bandeau #menu .subnav {
    float: left;
    overflow: hidden;
}


/* Subnav button */

#bandeau #menu .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}


/* Add a red background color to navigation links on hover */

#bandeau #menu .navbar a:hover,
#bandeau #menu .subnav:hover .subnavbtn {
    /*background-color: rgb(0, 217, 255);*/
    color: black;
}


/* Style the subnav content - positioned absolute */

#bandeau #menu .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(0 175 205);
    width: 100%;
    z-index: 1;
}

#bandeau #menu .subnav-content .subnav-content-centerer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}


/* Style the subnav links */

#bandeau #menu .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}


/* Add a grey background color on hover */

#bandeau #menu .subnav-content a:hover {
    /*background-color: #eee;*/
    color: black;
}


/* When you move the mouse over the subnav container, open the subnav content */

#bandeau #menu .subnav:hover .subnav-content {
    display: block;
}

#bandeau #menu a.bouton-deconnexion {
    padding: 16.5px 16px;
    transition: none;
}

#bandeau #menu .bouton-deconnexion span {
    display: block;
}

#bandeau #menu .bouton-deconnexion span:last-child {
    font-size: small;
}