* {
    font-family: "Open Sans", sans-serif;
}

body.onload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

main {
    margin-top: 86px;
    padding: 0px 20px;
}

/*tableau*/

.tableau {
    border-collapse: collapse;
    /*border-style: solid;
    border-width: 2px;*/
    box-shadow: 0px 0 5px 0px;
}

.tableau th {
    border-width: 1px;
    background-color: #58c1e4;
    color: white;
    padding: 10px;
}

.tableau td {
    padding: 5px 15px;
}

.tableau tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableau tr:hover {
    background-color: #ddd;
}



.bouton {
    display: block;
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    background: #58c1e4;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 0 2px 0px black;
    transition: background-color 0.2s;
}

.bouton.inline {
    display: inline-block;
    width: initial;
}

.bouton:hover {
    
    background: rgb(0 175 205);
    box-shadow: 0 0 5px 0px black;
}



.map {
    height: 400px;
    width: 100%;
}

.centered, .centered *{
    margin-left: auto;
    margin-right: auto;
}

.text-align {
    text-align: center;
}

/*.text-align > * {
    text-align: initial;
}*/

.bouton_image {
    height: 30px;
}

.erreur {
    background-color: #ff7979;
    border-style: solid;
    border-width: 2px;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}