* {
    font-family: "Open Sans", sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

main {
    margin-top: 55px;
    padding: 0px 20px;
}
