* {
    font-family: "Open Sans", sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

main {
    margin-top: 55px;
    padding: 0px 20px;
}

/*tableau*/

.tableau {
    border-collapse: collapse;
    /*border-style: solid;
    border-width: 2px;*/
    box-shadow: 0px 0 5px 0px;
}

.tableau th {
    border-width: 1px;
    background-color: #58c1e4;
    color: white;
    padding: 10px;
}

.tableau td {
    padding: 5px 15px;
}

.tableau tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableau tr:hover {
    background-color: #ddd;
}



.bouton {
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    width: max-content;
    background: #58c1e4;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bouton:hover {
    cursor: pointer;
    background: #565656;
    border-bottom-left-radius: 3pc;
    border-bottom-right-radius: 3pc;
}



.map {
    height: 400px;
    width: 100%;
}

.centered, .centered *{
    margin-left: auto;
    margin-right: auto;
}

.text-align {
    text-align: center;
}

.bouton_image {
    height: 30px;
}

.erreur {
    background-color: #ff7979;
    border-style: solid;
    border-width: 2px;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}